{
  "IsEncrypted": false,
  "Values": {
    "IoTHubEventsConnectionString": "< ... >",
    "AzureWebJobsStorage": "< ... >",
    "IoTHubEventsEventHubName": "< ... >",
    "SignalRConnectionString": "< ... >"
  },
  "Host": {
    "CORS": "*",
    "CORSCredentials": false
  }
}
